mixin pricing()

	+b('section').pricing
		+e('h2').title Цены
		+e('p').sign Фиксированная стоимость на переезд под ключ
		+e.offers
			+e.offer
				+e('p').caption 1-комнатная кв-ра
				+e('ul').list
					+e('li').item 1 фургон
					+e('li').item 2 грузчика
					+e('li').item Переезд за 4 часа
				+e('p').cost 8 490₽
				+e('button').button Заказать
			+e.offer
				+e('p').caption 2-комнатная кв-ра
				+e('ul').list
					+e('li').item 1 газель - 3 метра
					+e('li').item 2 грузчика
					+e('li').item Переезд за 4 часа
				+e('p').cost 10 990₽
				+e('button').button Заказать
			+e.offer
				+e('p').caption 3-комнатная кв-ра
				+e('ul').list
					+e('li').item 1 газель - 4 метра
					+e('li').item 2 грузчика
					+e('li').item Переезд за 6 часов
				+e('p').cost 16 490₽
				+e('button').button Заказать
