.pricing
	padding w(60) w(305) w(65)

	&__title
		margin-bottom w(15)
		font-family $ff-mont
		font-weight 600
		font-size w(30)
		line-height w(37)
		color $black
		text-align center

	&__sign
		margin-bottom w(60)
		font-family $ff-mont
		font-weight 600
		font-size w(24)
		line-height w(29)
		color $black
		text-align center

	&__offers
		display flex
		justify-content space-between
		width 100%

	&__offer
		display flex
		flex-direction column
		align-items center
		margin-right w(25)
		padding w(85) w(85) w(80)
		border 1px solid $grey
		&:last-of-type
			margin-right 0
		&:nth-of-type(2)
			border-color $yellow

	&__caption
		margin-bottom w(60)
		font-family $ff-mont
		font-weight 600
		font-size w(24)
		line-height w(29)
		color $black

	&__list
		margin-bottom w(60)

	&__item
		margin-bottom w(25)
		font-family $ff-mont
		font-weight 400
		font-size w(16)
		line-height w(21)
		color $black
		text-align center
		&:last-of-type
			margin-bottom 0

	&__cost
		margin-bottom w(55)
		font-family $ff-mont
		font-weight 600
		font-size w(30)
		line-height w(37)
		color $black

	&__button
		padding w(15) w(80)
		font-family $ff-mont
		font-weight 500
		font-size w(20)
		line-height w(24)
		color $black
		background-color $yellow
		border 1px solid $yellow
		transition .3s
		&:hover
			background-color white
			color $yellow